.navbar {
    overflow: hidden;
    background-image: linear-gradient(to right, red , yellow);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #79a731;
    color: black;
    transform: scale(1.2);
  }